*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif; 
}

body { 
    background: #f4f6f9; 
    color: #333; 
}

nav { 
    background: #000000; 
    padding: 12px 30px; 
    display: flex; 
    justify-content: space-between; 
}

nav a { 
    color: #fff; 
    text-decoration: none; 
    margin-right: 20px; 
    font-size: 14px; 
}

.nav-left a:first-child { 
    font-weight: bold; 
    font-size: 16px; 
}

.nav-right a:last-child {
    margin-right: 0;
}
h2, h3 { 
    text-align: center; 
    margin: 30px 0 20px; 
}

form { 
    text-align: center; 
    margin-bottom: 20px; 
}

select { 
    padding: 6px 10px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
}

button { 
    padding: 7px 14px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button { 
    color: #fff; 
}

button:hover { 
    opacity: 0.9; 
}

.todo-wrapper { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 0 60px 40px; 
}

.todo-card { 
    background: #fff; 
    border-radius: 8px; 
    padding: 16px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.05); 
    position: relative; 
}

.todo-card.done { 
    background: #000000; 
    color: #8a8a8a; 
}

.todo-card h4 { 
    margin-bottom: 6px; 
}

.todo-card small { 
    font-size: 13px; 
    display: block; 
    margin-bottom: 10px; 
}

.todo-card p { 
    font-size: 13px; 
    margin-bottom: 4px; 
}

.todo-action { 
    margin-top: 12px; 
}

.todo-action a { 
    text-decoration: none; 
    font-size: 13px; 
    padding: 5px 10px; 
    border-radius: 4px; 
    color: #fff; 
}

.todo-action a.edit { 
    background: #3b82f6; 
}

.todo-action a.hapus { 
    background: #ef4444; 
    margin-left: 6px; 
}

.form-box { 
    width: 350px; 
    margin: 40px auto; 
    background: #fff; 
    padding: 25px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.05); 
}

.form-box label {
    font-size: 14px;
    margin-bottom: 5px;
    padding-right: 400px;
    color: #000000;
}

.form-box input, 
.form-box textarea,
.form-box select { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 15px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
}

.form-box button { 
    width: 100%; 
    background: #0c8f3e;
}

.profil{
    width: 320px; 
    margin: 40px auto; 
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.profil h3{
    margin-bottom: 12px;
    margin-top: 7px;
}
.profil P {
    margin-bottom: 4px;
}
.profil button{
    margin-bottom: 8px;
    background: #555;
}
